<!DOCTYPE html>
<html  lang="en">
  <head>
    <link rel="canonical" href="https://apitoolkit.io">
    <meta property="og:title" content="{% if this.frontmatter.title %}{{this.frontmatter.title}}{% endif %}">
    <meta property="og:description" content="{{ this.content | strip_html | truncatewords: 20 }}">
    <meta property="og:image" content="{% if this.frontmatter.featured_image%}{{this.frontmatter.featured_image}}{% endif %}">
    <meta property="og:type" content="{% if this.frontmatter.og_type %}{{this.frontmatter.og_type}}{% else %}article{% endif %}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="QuickStatic">
    <!-- This documentation site was built with QuickStatic, https://github.com/tonyalaribe/quickstatic -->

    <title>{% if this.frontmatter.title %}{{this.frontmatter.title}}{% endif %}</title>
    <meta name="description" content="{{ this.content | strip_html | truncatewords: 20 }}">
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <script defer src="https://kit.fontawesome.com/32c218ff10.js" crossorigin="anonymous"></script>
    <script defer src="/assets/deps/htmx/htmx.min.js"></script>
    <script defer src="/assets/deps/htmx/preload.js"></script>
    <script defer src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script defer src="/pagefind/pagefind-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
    <style>
      h1, h2, h3, h4, h5, h6 {
        position: relative;
        cursor: pointer;
      }
      .header-link {
        position: absolute;
        left: -20;
        top: 5px;
        display: none;
        text-decoration: none;
        color: #737373;
        cursor: pointer;
        font-size: .7rem;
        padding-right: 20px;
      }
      h1:hover .header-link,h2:hover .header-link,h3:hover .header-link,h4:hover .header-link,h5:hover .header-link,h6:hover .header-link,
      .header-link:hover {
        display: inline;
      }
    </style>
  </head>
  <body data-theme="emerald" hx-boost="true" hx-ext="preload" class="" preload>
    <section class="sticky top-0 w-full bg-base-100 z-10 divide-y divide-y-gray-100 border-b-2 border-b-gray-100">
      <section class="text-center ">
        <div class="max-w-7xl w-full py-4 px-5 sm:px-0 text-left inline-flex justify-between items-center">
          <a href="/" class="px-1 py-1"><img class="h-6 " src="/assets/brand/logo_full_color.svg" /></a>
          <div class="flex gap-4 items-center">
            <a href="/" class="hidden sm:inline-block text-sm text-secondary">Back to Website</a>
            <a class="cursor-pointer sm:hidden" onClick="search_modal.showModal()">
              <i class="fa-solid fa-magnifying-glass w-4 h-4 opacity-70"></i>
            </a>
            <a href="app.apitoolkit.io" class="btn btn-sm btn-secondary">Sign Up</a>

            <a class="input input-sm bg-slate-50 input-bordered hidden sm:flex items-center gap-2" onClick="search_modal.showModal()">
              <i class="fa-solid fa-magnifying-glass w-4 h-4 opacity-70"></i>
              <span class="grow px-3" >Search</span>
              <kbd class="kbd kbd-sm">⌘K</kbd>
            </a>
            <dialog id="search_modal" class="modal modal-top justify-center" hx-boost="false">
              <div id="search" class="modal-box max-w-xl w-full"></div>
              <form method="dialog" class="modal-backdrop mt-24">
                <button>close</button>
              </form>
            </dialog>
          </div>
        </div>
      </section>
    
      <section class="text-center">
        <div class="max-w-7xl w-full text-left gap-4 text-md hidden sm:inline-flex">
          {% capture root_menu_items %}
            {% assign is_home = this.frontmatter.title | equals: "Home" %}
            <a class="flex gap-3 sm:border-b-2  {{ is_home | ternary: 'sm:border-b-secondary text-secondary sm:text-current ', 'border-b-transparent' }} py-2 px-1 items-center" href="/docs/" preload="preload:init">
              <i class="fa-regular fa-house w-5 h-5 {{ is_home | ternary: 'text-secondary', '' }}"></i>
              <span>Home</span>
            </a>
            {% assign pages = file_list | where_glob: 'file_path', "./docs/*/index.md" | sort: "frontmatter.menu_weight" | reverse %}
            {% for page in pages %}
              {% assign parent_doc_prefix = page.file_path | remove: "index.md" | remove_first: "." %}
              {% assign is_active = this.permalink | starts_with: parent_doc_prefix %}
              <a class="flex gap-3 sm:border-b-2 {{ is_active | ternary: 'sm:border-b-secondary text-secondary sm:text-current', 'border-b-transparent' }} py-2 px-1 items-center" href="{{ page.permalink }}" preload="preload:init">
                <i class="fa-regular fa-{{ page.frontmatter.fa-logo | default: 'star' }} w-5 h-5 {{ is_active | ternary: 'text-secondary', '' }}"></i>
                <span>{{ page.frontmatter.title | default: 'Untitled' }}</span>
              </a>
            {% endfor %}
          {% endcapture %}
          {{ root_menu_items }}
        </div>
        <div class="text-md sm:hidden text-left flex items-center ">
          <label for="mobile-menu-drawer" class="px-5 py-3"><i class="fa-regular fa-bars"></i> </label>
          <a class="py-2">{{this.frontmatter.title}}</i> </a>
        </div>
      </section>
    </section>
    <section class="text-center  ">
      <div class="max-w-7xl w-full text-left inline-flex ">
        <!-- Placed here to be situated infront of the conditional below, since the conditional clause does't affect mobile --> 
        {% capture main_menu_items %}
          {% assign parts = this.permalink | split: '/' %}
          {% assign parent_doc_section = parts[2] %}
          {% capture glob_pattern %}./docs/{{ parent_doc_section }}/*/index.md{% endcapture %}
          {% assign pages = file_list | where_glob: 'file_path', glob_pattern %}
          {% for page in pages %}
            <section class="pl-1">
              <a class="block font-semibold pb-3" href="{{ page.permalink }}">{{ page.frontmatter.title }}</a>
              {% capture glob_pattern1 %}.{{ page.permalink }}*/index.md{% endcapture %}
              {% assign subpages = file_list | where_glob: 'file_path', glob_pattern1 %}
              {% if subpages.size > 0 %}
                <ul class="space-y-2">
                  {% for subpage in subpages %}
                    <li>
                      {% assign is_active_page = subpage.permalink |  equals: this.permalink %}
                      <a href="{{ subpage.permalink }}" class="hover:text-secondary {{ is_active_page | ternary: 'text-secondary', '' }}">{{ subpage.frontmatter.title }}</a>
                      {% capture glob_pattern2 %}.{{ subpage.permalink }}*/index.md{% endcapture %}
                      {% assign subsubpages = file_list | where_glob: 'file_path', glob_pattern2 %}
                      {% if subsubpages.size > 0 %}
                        <ul class="pl-5 space-y-2 pt-2">
                          {% for subsubpage in subsubpages %}
                            <li>
                              {% assign is_active_subpage = subsubpage.permalink |  equals: this.permalink %}
                              <a href="{{ subsubpage.permalink }}" class="hover:text-secondary {{ is_active_subpage | ternary: 'text-secondary', '' }}">{{ subsubpage.frontmatter.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </section>
          {% endfor %}
        {% endcapture %}
        {% unless this.frontmatter.hide_file_tree %}
        <div class="w-64 leading-relaxed border-r-2 border-r-gray-100 hidden sm:block ">
          <nav class="w-64 space-y-8 text-sm my-48 pr-5 fixed top-0">
          {{  main_menu_items }}
          </nav>
        </div>
        {% endunless %}
        <!-- Navigation drawer used on Mbile only -->
        <div class="drawer fixed top-0 z-50">
          <input id="mobile-menu-drawer" type="checkbox" class="drawer-toggle"/>
          <div class="drawer-side">
            <label for="mobile-menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="p-5 w-80 min-h-full bg-base-100 text-base-content clear-both">
              <label for="mobile-menu-drawer" class="p-5 float-right"><i class="fa-regular fa-xmark"></i></label>
              <div class="space-y-5 pt-5">
                <section>
                  {{ root_menu_items }}
                </section>
                <section class="py-5 space-y-5">
                  {{  main_menu_items }}
                </section>
              </div>
            </div>
          </div>
        </div>
        
        <div class="flex-1 grow flex relative min-h-screen  ">
          <div class="text-center flex-1 grow p-5 pt-12 sm:p-20 sm:pb-28 pb-40 divide-y divide-y-gray-100">
            <article class="text-left pb-12 prose prose-slate dark:prose-invert prose-headings:font-medium prose-a:text-secondary prose-a:underline prose-a:underline-offset-4  
                            prose-img:w-full prose-img:rounded-md  prose-p:leading-relaxed
                            prose-headings:scroll-mt-40 prose-pre:p-0 
                            before:prose-li:bg-secondary before:prose-li:text-secondary
                            prose-strong:font-medium prose-secondary w-full {%if this.frontmatter.page_full_width%}max-w-none {%endif%}"
                      id="mainArticle">
              {{this.content}} 
            </article>
            <footer class="py-12 text-left space-y-2">
              <h5 class="font-semibold">Need assistance?</h5>
              <p>You can reachout to us at <a href="mailto:hello@apitoolkit.io">hello@apitoolkit.io</a></p>
            </footer>
          </div>
        </div>
        {% unless this.frontmatter.hide_toc %}
        <section class="w-56 hidden sm:block ">
          <div class="w-56 my-48  fixed top-0 text-sm space-y-4">
            <strong class="block font-medium">On this page </strong>
            <ul class="space-y-2 border-l " id="tableOfContents">
            {% for toc in this.toc %}
              <li class="hover:underline underline-offset-4 pl-{{toc.level | times: 3}}"><a href="#{{toc.id}}">{{toc.title}}</a></li>
            {% endfor %}
            </ul>
          </div>
        </section>
        {% endunless %}
      </div>
    </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/elixir.min.js"></script>
  <script defer type="text/javascript">
    hljs.highlightAll();
    document.body.addEventListener('htmx:afterSwap', function(event) {
      window.requestAnimationFrame(() => {
        hljs.highlightAll();
      })
    });
    function init(){
      // Select all headers
      const headers = document.querySelectorAll('#mainArticle h1, #mainArticle h2, #mainArticle h3, #mainArticle h4,#mainArticle h5,#mainArticle h6');
      headers.forEach(header => {
        const hashtag = document.createElement('a');
        hashtag.classList.add('header-link');
        hashtag.textContent = '🔗 ';
        hashtag.href='#'+header.id;
        header.insertBefore(hashtag, header.firstChild);
      });

      const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              document.querySelectorAll('#tableOfContents a').forEach(link => {
                if (link.getAttribute('href').substring(1) === entry.target.id) {
                  document.querySelectorAll('#tableOfContents a').forEach(function(element) {
                    element.classList.remove('text-secondary');
                  });
                  link.classList.add('text-secondary');
                }
              });
            }
          });
        }, { rootMargin: "0px",threshold: 0.0001,
      });

      // Observe all headings within the article
      document.querySelectorAll('#mainArticle h1, #mainArticle h2, #mainArticle h3, #mainArticle h4, #mainArticle h5, #mainArticle h6').forEach(heading => {
        observer.observe(heading);
      });
    }
    init()
  </script>
  </body>
</html>
