<!doctype html>
<html lang="en">
  <head>
    <title>
      {% if this.frontmatter.ogTitle %}
        {{ this.frontmatter.ogTitle }}
      {% else %}
        {{ this.frontmatter.title }}
      {% endif %}
      | APItoolkit Docs
    </title>
    <meta name="description" content="APItoolkit product and SDKs documentation">
    <link rel="canonical" href="https://apitoolkit.io{{this.permalink}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="QuickStatic">
    <!-- This documentation site was built with QuickStatic, https://github.com/tonyalaribe/quickstatic -->
    <meta
      property="og:title"
      content="{% if this.frontmatter.ogTitle %}{{this.frontmatter.ogTitle}}{% else %}{{this.frontmatter.title}}{% endif %} | APItoolkit Docs"
    >
    <meta property="og:description" content="APItoolkit product and SDKs documentation">
    <meta
      property="og:image"
      content="{% if this.frontmatter.ogImage%}{{this.frontmatter.ogImage}}{% else %}https://raw.githubusercontent.com/apitoolkit/.github/main/images/docs-og.png{% endif %}"
    >
    <meta
      property="og:type"
      content="{% if this.frontmatter.ogType %}{{this.frontmatter.ogType}}{% else %}article{% endif %}"
    >

    <!-- Favicon items -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <base href="{{ this.permalink }}">

    <!-- Stylesheets and Scripts -->
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <script defer src="https://kit.fontawesome.com/32c218ff10.js" crossorigin="anonymous"></script>
    <script defer src="/assets/deps/htmx/htmx.min.js"></script>
    <script defer src="/assets/deps/htmx/preload.js"></script>
    <script defer src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <style>
      @font-face {
        font-family: 'Bakemono';
        src: url('/assets/deps/bakemono/Bakemono-Variable.woff2') format('woff2-variations'),
          url('/assets/deps/bakemono/Bakemono-Variable.woff') format('woff-variations'),
          url('/assets/deps/bakemono/Bakemono-Variable.ttf') format('ttf-variations');
      }

      :root {
        font-family: 'Bakemono', sans-serif;
      }

      .monospace {
        font-family: 'Bakemono', monospace;
        font-variation-settings: 'MONO' 1000;
      }

      h1 {
        font-variation-settings: 'wght' 700, 'MONO' 500;
      }

      h2 {
        font-variation-settings: 'wght' 600, 'MONO' 500;
      }

      h3,
      h4,
      h5 {
        font-variation-settings: 'wght' 500, 'MONO' 500;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        position: relative;
        cursor: pointer;
      }

      .header-link {
        position: absolute;
        left: -20;
        top: 5px;
        display: none;
        text-decoration: none;
        color: #737373;
        cursor: pointer;
        font-size: 0.7rem;
        padding-right: 20px;
      }

      h1:hover .header-link,
      h2:hover .header-link,
      h3:hover .header-link,
      h4:hover .header-link,
      h5:hover .header-link,
      h6:hover .header-link,
      .header-link:hover {
        display: inline;
      }

      .docs-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 16rem;
        text-decoration: none;
        border-width: 2px;
        border-color: #b3b3b3;
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07));
      }

      .docs-card:hover {
        border-color: #377cfb;
        transform: translateY(-0.7rem);
        transition-duration: 300ms;
      }

      .docs-card-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12rem;
        text-decoration: none;
        border-width: 2px;
        border-color: #b3b3b3;
      }

      .docs-card-2:hover {
        border-color: #377cfb;
        transform: translateY(-0.5rem);
        transition-duration: 300ms;
      }

      .callout {
        background-color: #f7f7f7;
        border-left: 6px solid #377cfb;
        padding: 16px;
        margin: 16px 0;
        border-radius: 4px;
      }

      .callout p:first-of-type {
        margin-top: 5px;
      }

      .callout ol:first-of-type {
        margin-top: 5px;
      }

      .callout p svg {
        margin-right: 5px;
      }

      .callout-red {
        border-left: 6px solid #ff3131 !important;
      }

      [data-theme='sunset'] .callout {
        background-color: #c5c5c5;
        color: #36454f;
      }

      [data-theme='sunset'] .callout code {
        background: #282c34;
      }

      .docs-table table thead tr th {
        font-weight: bold;
        text-align: left;
        padding: 0 10px 5px 10px;
      }

      .docs-table table thead tr th:first-child {
        border-right: 1px solid #eeeeef;
      }

      .docs-table table tbody tr td:first-child {
        border-right: 1px solid #eeeeef;
      }

      .docs-table table tbody tr td {
        vertical-align: middle !important;
        padding: 10px;
      }

      .btn {
        text-decoration: none !important;
      }

      .t-white {
        color: #ffffff !important;
      }

      .t-black {
        color: #000000 !important;
      }

      /*
      DO NOT REMOVE 
      This is for the images in integration-footer.liquid 
      */
      button img {
        border-width: 0px !important;
        --tw-drop-shadow: none !important;
      }
      div #sdk-images img {
        border-width: 0px !important;
        --tw-drop-shadow: none !important;
      }

      /* Styling for tabs component */
      .tab-button {
        padding: 10px 20px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        margin-right: 5px;
      }
      .tab-button.active {
        border-bottom: 2px solid #377cfb;
      }
      .tab-content {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 0 5px 5px 5px;
      }
      .tab-content.active {
        display: block;
      }
    </style>

    <!-- Twitter conversion tracking base code -->
    <script>
      !(function (e, t, n, s, u, a) {
        e.twq ||
          ((s = e.twq =
            function () {
              s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
            }),
          (s.version = '1.1'),
          (s.queue = []),
          (u = t.createElement(n)),
          (u.async = !0),
          (u.src = 'https://static.ads-twitter.com/uwt.js'),
          (a = t.getElementsByTagName(n)[0]),
          a.parentNode.insertBefore(u, a));
      })(window, document, 'script');
      twq('config', 'om5gt');
    </script>
    <!-- End Twitter conversion tracking base code -->

    <!-- Amplitude (with GA Events Forwarder) -->
    <script type="text/javascript">
      !function(){"use strict";!function(e,t){var r=e.amplitude||{_q:[],_iq:{}};if(r.invoked)e.console&&console.error&&console.error("Amplitude snippet has been loaded.");else{var n=function(e,t){e.prototype[t]=function(){return this._q.push({name:t,args:Array.prototype.slice.call(arguments,0)}),this}},s=function(e,t,r){return function(n){e._q.push({name:t,args:Array.prototype.slice.call(r,0),resolve:n})}},o=function(e,t,r){e[t]=function(){if(r)return{promise:new Promise(s(e,t,Array.prototype.slice.call(arguments)))}}},i=function(e){for(var t=0;t<m.length;t++)o(e,m[t],!1);for(var r=0;r<y.length;r++)o(e,y[r],!0)};r.invoked=!0;var a=t.createElement("script");a.type="text/javascript",a.crossOrigin="anonymous",a.src="https://cdn.amplitude.com/libs/plugin-ga-events-forwarder-browser-0.2.0-min.js.gz",a.onload=function(){e.gaEventsForwarder&&e.gaEventsForwarder.plugin&&e.amplitude.add(e.gaEventsForwarder.plugin())};var c=t.createElement("script");c.type="text/javascript",c.integrity="sha384-HpnlFSsUOQTaqmMKb6/PqZKVOBEpRji3JNLr81x6XElQ4bkquzRyG/F8rY8IDMuw",c.crossOrigin="anonymous",c.async=!0,c.src="https://cdn.amplitude.com/libs/analytics-browser-2.2.1-min.js.gz",c.onload=function(){e.amplitude.runQueuedFunctions||console.log("[Amplitude] Error: could not load SDK")};var u=t.getElementsByTagName("script")[0];u.parentNode.insertBefore(a,u),u.parentNode.insertBefore(c,u);for(var p=function(){return this._q=[],this},d=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove","getUserProperties"],l=0;l<d.length;l++)n(p,d[l]);r.Identify=p;for(var g=function(){return this._q=[],this},v=["getEventProperties","setProductId","setQuantity","setPrice","setRevenue","setRevenueType","setEventProperties"],f=0;f<v.length;f++)n(g,v[f]);r.Revenue=g;var m=["getDeviceId","setDeviceId","getSessionId","setSessionId","getUserId","setUserId","setOptOut","setTransport","reset","extendSession"],y=["init","add","remove","track","logEvent","identify","groupIdentify","setGroup","revenue","flush"];i(r),r.createInstance=function(e){return r._iq[e]={_q:[]},i(r._iq[e]),r._iq[e]},e.amplitude=r}}(window,document)}();
      
      amplitude.init('e11d597a7ac4268a7efc286cec3e947d');
    </script>
    <!-- END Amplitude -->

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TF4BQQ3D');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1135987380886994');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        src="
          https://www.facebook.com/tr?id=1135987380886994&ev=PageView
          &noscript=1
        "
      >
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script>
      !(function (t, e) {
        var o, n, p, r;
        e.__SV ||
          ((window.posthog = e),
          (e._i = []),
          (e.init = function (i, s, a) {
            function g(t, e) {
              var o = e.split('.');
              2 == o.length && ((t = t[o[0]]), (e = o[1])),
                (t[e] = function () {
                  t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
                });
            }
            ((p = t.createElement('script')).type = 'text/javascript'),
              (p.async = !0),
              (p.src = s.api_host + '/static/array.js'),
              (r = t.getElementsByTagName('script')[0]).parentNode.insertBefore(p, r);
            var u = e;
            for (
              void 0 !== a ? (u = e[a] = []) : (a = 'posthog'),
                u.people = u.people || [],
                u.toString = function (t) {
                  var e = 'posthog';
                  return 'posthog' !== a && (e += '.' + a), t || (e += ' (stub)'), e;
                },
                u.people.toString = function () {
                  return u.toString(1) + '.people (stub)';
                },
                o =
                  'capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId'.split(
                    ' '
                  ),
                n = 0;
              n < o.length;
              n++
            )
              g(u, o[n]);
            e._i.push([i, s, a]);
          }),
          (e.__SV = 1));
      })(document, window.posthog || []);
      posthog.init('phc_XrCcXiHIfUzWzwXz0dMWSw19iGZsfk5VQ0VyJoiAIuA', { api_host: 'https://app.posthog.com' });
    </script>

    <script>
      if (localStorage.getItem('darkMode') === 'true') {
        document.body.setAttribute('data-theme', 'sunset');
      }
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '3674513372787915');
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=3674513372787915&ev=PageView&noscript=1"
    ></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TF4BQQ3D');
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
      _linkedin_partner_id = '5779626';
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
      (function (l) {
        if (!l) {
          window.lintrk = function (a, b) {
            window.lintrk.q.push([a, b]);
          };
          window.lintrk.q = [];
        }
        var s = document.getElementsByTagName('script')[0];
        var b = document.createElement('script');
        b.type = 'text/javascript';
        b.async = true;
        b.src = 'https://snap.licdn.com/li.lms-analytics/insight.min.js';
        s.parentNode.insertBefore(b, s);
      })(window.lintrk);
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display:none;"
        alt=""
        src="https://px.ads.linkedin.com/collect/?pid=5779626&fmt=gif"
      >
    </noscript>
  </head>

  <body data-theme="emerald" hx-boost="true" hx-ext="preload,head-support" class="" preload>
    <script>
      if (localStorage.getItem('darkMode') === 'true') {
        document.body.setAttribute('data-theme', 'sunset');
      }
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TF4BQQ3D"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section class="sticky top-0 w-full bg-base-100 z-10 border-b border-b-base-200">
      <section class="text-center border-b border-b-base-200">
        <div class="max-w-7xl w-full py-4 px-4 text-left inline-flex justify-between items-center">
          <a href="/" class="px-1 py-1" aria-label="Back to homepage">
            <img class="h-6 dark:hidden" src="/assets/brand/logo_full_color.svg" alt="APItoolkit full color logo">
            <img class="h-6 hidden dark:inline-block" src="/assets/brand/logo_full_white.svg" alt="APItoolkit white logo">
          </a>
          <div class="flex gap-4 items-center">
            <a href="/" class="hidden sm:inline-block text-sm text-secondary">↢&nbsp;Back to Website</a>
            <a class="cursor-pointer sm:hidden" onClick="search_modal.showModal()" aria-label="search" title="Search">
              <svg class="icon h-4 w-4 text-current fill-current stroke-current opacity-70">
                <use xlink:href="/assets/deps/fontawesome/solid.svg#magnifying-glass"></use>
              </svg>
            </a>
            <a href="https://app.apitoolkit.io?utm_source=docs" class="btn btn-sm btn-secondary">Sign Up</a>

            <a
              class="input input-sm bg-slate-50 dark:bg-base-200 input-bordered hidden sm:flex items-center gap-2"
              onClick="search_modal.showModal()"
              aria-label="search"
              title="Search"
            >
              <svg class="icon h-4 w-4 text-current fill-current stroke-current opacity-70">
                <use xlink:href="/assets/deps/fontawesome/solid.svg#magnifying-glass"></use>
              </svg>
              <span class="grow px-3">Search</span>
              <kbd class="kbd kbd-sm">⌘K</kbd>
            </a>
            <dialog id="search_modal" class="modal modal-top justify-center" hx-boost="false">
              <div id="search" class="modal-box max-w-xl w-full"></div>
              <form method="dialog" class="modal-backdrop mt-24">
                <button>close</button>
              </form>
            </dialog>
            <label class="swap swap-rotate" for="theme-control">
              <input
                type="checkbox"
                id="theme-control"
                class="theme-controller"
                value="sunset"
                _="
                  on change localStorage.setItem('darkMode', me.checked)
                  then if  me.checked set body's @data-theme to 'sunset' else set body's @data-theme to 'emerald'
                "
              >
              <svg class="swap-off icon h-5 w-5 text-current fill-current stroke-current opacity-70">
                <use xlink:href="/assets/deps/fontawesome/light.svg#moon-stars"></use>
              </svg>
              <svg class="swap-on icon h-5 w-5 text-current fill-current stroke-current opacity-70">
                <use xlink:href="/assets/deps/fontawesome/light.svg#sun-bright"></use>
              </svg>
            </label>
            <script>
              if (localStorage.getItem('darkMode') === 'true') {
                document.getElementById('theme-controller').checked = true;
              }
            </script>
          </div>
        </div>
      </section>

      <section class="text-center">
        <div class="max-w-7xl w-full gap-4 text-md hidden sm:inline-flex sm:ml-8">
          {% capture root_menu_items %}
        {% assign is_home = this.frontmatter.title | equals: "Home" %}
        <a class="flex gap-3 sm:border-b-2 {{ is_home | ternary: 'sm:border-b-secondary text-secondary sm:text-current ', 'border-b-transparent' }} py-2 px-1 items-center"
          href="/docs/" preload="preload:init" title="Documentation Home" aria-label="Documentation Home">
          <svg
            class="icon h-5 w-5 text-current fill-current stroke-current  {{ is_home | ternary: 'text-secondary', '' }}">
            <use xlink:href="/assets/deps/fontawesome/regular.svg#house"></use>
          </svg>
          <span>Home</span>
        </a>
        {% assign pages = file_list | where_glob: 'file_path', "./docs/*/index.md" | sort: 'frontmatter.menuWeight' %}
        {% for page in pages %}
        {% assign parent_doc_prefix = page.file_path | remove: "index.md" | remove_first: "." %}
        {% assign is_active = this.permalink | starts_with: parent_doc_prefix %}
        <a class="flex gap-3 sm:border-b-2 {{ is_active | ternary: 'sm:border-b-secondary text-secondary sm:text-current', 'border-b-transparent' }} py-2 px-1 items-center"
          href="{{ page.permalink }}">
          <i
            class="fa-regular fa-{% if page.frontmatter.faLogo %}{{ page.frontmatter.faLogo }}{%else%}star{%endif%} w-5 h-5 {{ is_active | ternary: 'text-secondary', '' }}"></i>
          <span>{{ page.frontmatter.title | default: 'Untitled' }}</span>
        </a>
        {% endfor %}
        {% endcapture %}
          {{ root_menu_items }}
        </div>
      </section>
    </section>
    <section class="text-center">
      <div class="max-w-7xl w-full text-left inline-flex ">
        <!--
          Placed here to be situated infront of the conditional below, since the conditional clause does't affect mobile
        -->
        {% capture main_menu_items %}
      {% assign parts = this.permalink | split: '/' %}
      {% assign parent_doc_section = parts[2] %}
      {% capture glob_pattern %}./docs/{{ parent_doc_section }}/*/index.md{% endcapture %}
      {% assign pages = file_list | where_glob: 'file_path', glob_pattern | sort: 'frontmatter.menuWeight' %}
      {% for page in pages %}
      <section class="pl-1">
      <!-- FILE TREE PARENT -->
        <a class="block font-semibold pb-3" href="{{ page.permalink }}">{{ page.frontmatter.title }}</a>
        {% capture glob_pattern1 %}.{{ page.permalink }}*/index.md{% endcapture %}
        <!-- In an idea scenario, we will sort this automatically based on "frontmatter.title"
             but the dashboard guides page requires custom sorting and will conflict with the
             sdk guides page. Hence all markdown files for now will have "menuWeight"
          -->
        {% assign subpages = file_list | where_glob: 'file_path', glob_pattern1 | sort: 'frontmatter.menuWeight' %}
        {% if subpages.size > 0 %}
        <!-- FILE TREE CHILDREN -->
        <ul class="space-y-2">
          {% for subpage in subpages %}
          <li>
            {% assign is_active_page = subpage.permalink | equals: this.permalink %}
            <a href="{{ subpage.permalink }}"
               class="hover:text-secondary {{ is_active_page | ternary: 'text-secondary', '' }}">{{
               subpage.frontmatter.title }}</a>
            {% capture glob_pattern2 %}.{{ subpage.permalink }}*/index.md{% endcapture %}
            {% assign subsubpages = file_list | where_glob: 'file_path', glob_pattern2 | sort %}
            {% if subsubpages.size > 0 %}
            <ul class="pl-5 space-y-2 pt-2">
              {% for subsubpage in subsubpages %}
              <li>
                {% assign is_active_subpage = subsubpage.permalink | equals: this.permalink %}
                <a href="{{ subsubpage.permalink }}"
                  class="hover:text-secondary {{ is_active_subpage | ternary: 'text-secondary', '' }}">{{
                  subsubpage.frontmatter.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </section>
      {% endfor %}
      {% endcapture %}
        {% unless this.frontmatter.hideFileTree %}
          <div class="w-64 leading-relaxed border-r border-r-base-200 hidden sm:block ">
            <nav class="h-full w-64 space-y-8 text-sm py-48 pr-5 fixed top-0 overflow-y-scroll">
              {{ main_menu_items }}
            </nav>
          </div>
        {% endunless %}
        <!-- Navigation drawer used on Mobile only -->
        <div class="drawer fixed top-0 z-50">
          <input id="mobile-menu-drawer" type="checkbox" class="drawer-toggle">
          <div class="drawer-side">
            <label for="mobile-menu-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="p-5 w-80 min-h-full bg-base-100 text-base-content clear-both">
              <label for="mobile-menu-drawer" class="p-5 float-right">
                <svg class="flex-shrink-0 icon h-5 w-5 text-current fill-current stroke-current opacity-70">
                  <use xlink:href="/assets/deps/fontawesome/regular.svg#xmark"></use>
                </svg>
              </label>
              <div class="space-y-5 pt-5">
                <section>
                  {{ root_menu_items }}
                </section>
                <section class="py-5 space-y-5">
                  {{ main_menu_items }}
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-1 grow flex relative min-h-screen">
          <div class="text-center flex-1 grow p-5 pt-12 sm:p-20 sm:pb-28 pb-40 divide-y divide-y-base-200">
            <article
              class="
                text-left pb-12 prose prose-slate dark:prose-invert prose-headings:font-medium prose-a:text-secondary prose-a:underline prose-a:underline-offset-4
                prose-img:w-full prose-img:rounded-md prose-img:drop-shadow-md prose-img:border prose-img:border-base-200  prose-p:leading-relaxed
                prose-headings:scroll-mt-40 prose-pre:p-0
                before:prose-li:bg-secondary before:prose-li:text-secondary
                prose-strong:font-medium prose-secondary w-full {%if this.frontmatter.pageFullWidth%}max-w-none {%endif%}
              "
              id="mainArticle"
            >
              {{ this.content }}
            </article>
            <footer class="text-center py-12 space-y-2">
              <h5 class="font-semibold">Need assistance or have some feedback for us? You can reach out to us at:</h5>
              <p>
                <i class="fa-regular fa-envelope"></i>
                <a
                  class="link"
                  href="mailto:hello@apitoolkit.io"
                  >hello@apitoolkit.io</a
                >
                |
                <i class="fa-brands fa-discord"></i>
                <a
                  class="link"
                  href="https://apitoolkit.io/discord"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Discord Community Server</a
                >
                |
                <i class="fa-brands fa-github"></i>
                <a
                  class="link"
                  href="https://github.com/apitoolkit/apitoolkit-landing/issues/new/choose"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GitHub Community Issues</a
                >
              </p>
            </footer>
          </div>
        </div>
        {% unless this.frontmatter.hideToc %}
          <section class="w-56 hidden sm:block ">
            <div class="w-56 my-48  fixed top-0 text-sm space-y-4">
              <strong class="block font-medium">On this page:</strong>
              <ul class="space-y-2 border-l " id="tableOfContents">
                {% for toc in this.toc %}
                  <li class="hover:underline underline-offset-4 pl-{{toc.level | times: 3}}">
                    <a href="#{{toc.id}}">{{ toc.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        {% endunless %}
      </div>
    </section>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
    >
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/elixir.min.js"></script>
    <script defer src="/assets/js/tabs.js"></script>

    <script defer type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        hljs.highlightAll();
      });

      function init() {
        // Select all headers
        const headers = document.querySelectorAll(
          '#mainArticle h1, #mainArticle h2, #mainArticle h3, #mainArticle h4,#mainArticle h5,#mainArticle h6'
        );
        headers.forEach((header) => {
          const hashtag = document.createElement('a');
          hashtag.classList.add('header-link');
          hashtag.textContent = '🔗 ';
          hashtag.href = '#' + header.id;
          header.insertBefore(hashtag, header.firstChild);
        });

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                document.querySelectorAll('#tableOfContents a').forEach((link) => {
                  if (link.getAttribute('href').substring(1) === entry.target.id) {
                    document.querySelectorAll('#tableOfContents a').forEach(function (element) {
                      element.classList.remove('text-secondary');
                    });
                    link.classList.add('text-secondary');
                  }
                });
              }
            });
          },
          { rootMargin: '0px', threshold: 0.0001 }
        );

        // Observe all headings within the article
        document
          .querySelectorAll(
            '#mainArticle h1, #mainArticle h2, #mainArticle h3, #mainArticle h4, #mainArticle h5, #mainArticle h6'
          )
          .forEach((heading) => {
            observer.observe(heading);
          });
      }
      init();

      document.body.addEventListener('htmx:afterSwap', function (event) {
        window.requestAnimationFrame(() => {
          init();
          hljs.highlightAll();
        });
      });
    </script>
  </body>
</html>
