``` =html
<header>
    <section class="mt-8 md:mt-16 py-10 md:py-20">
        <div class="width-control px-2 mx-auto flex flex-col items-center">
            <a href="/blog/updates-october-2022/"
                class="mb-32px  bg-base-200 group rounded-3xl bg-tertiary border border-opacity-0 hover:border-opacity-100 active:border-opacity-100 outline-none ring-0 hover:ring-[3px] focus:ring-[3px] active:ring-[1px] ring-opacity-0 hover:ring-opacity-30 focus:ring-opacity-30 active:ring-opacity-30 transition-all duration-500 ease-out"
                href="">
                <div class="typography-p6-medium flex items-center gap-[6px] p-[2px_7px_2px_2px]">
                    <span class="rounded-3xl bg-[#2E3238] p-[3px_9px_3px_10px] text-white">New</span>
                    <div class="flex items-center">Read latest updates! 🎉 &nbsp;&nbsp;
                        <svg class="flex-shrink-0 icon h-5 w-5 text-current fill-current stroke-current opacity-70">
                            <use xlink:href="/assets/deps/fontawesome/solid.svg#chevron-right"></use>
                        </svg>
                    </div>
                </div>
            </a>

            <h1
                class="text-center mt-[20px] text-4xl md:text-6xl tracking-tight sm:leading-normal font-bold dark:text-white ">
                The End-to-End API & Web Services Management Toolkit
            </h1>
            <p
                class="mt-8 text-gray-700 dark:text-inherit md:text-[26px] tracking-tight leading-tight max-w-[800px]  text-center font-medium">
                APItoolkit uses AI to help engineering teams observe, debug & test their backend systems and any APIs
                they depend on.
            <p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10 pb-5">
                {% capture badgecheck %}<svg
                    class="text-secondary flex-shrink-0 icon h-5 w-5 fill-secondary stroke-secondar">
                    <use xlink:href="/assets/deps/fontawesome/solid.svg#badge-check"></use>
                </svg>{% endcapture %}
                <div class="flex gap-2 items-center">{{badgecheck}}<a class="hover:underline underline-offset-2"
                        href="#">See & Query all API Activities</a></div>
                <div class="flex gap-2 items-center">{{badgecheck}}<a class="hover:underline underline-offset-2"
                        href="#">Track All Backend Errors in One Place</a></div>
                <div class="flex gap-2 items-center">{{badgecheck}}<a class="hover:underline underline-offset-2"
                        href="#">Catch API Breaking Changes</a></div>
                <div class="flex gap-2 items-center">{{badgecheck}}<a class="hover:underline underline-offset-2"
                        href="#">Monitor Incoming & Outgoing Requests</a></div>
                <div class="flex gap-2 items-center sm:col-span-2 justify-center">{{badgecheck}}<a
                        class="hover:underline underline-offset-2" href="#">API Documentation & OpenAPI
                        Specification</a></div>
            </div>
            <div class="mt-[30px] flex items-center gap-4 text-center">
                <a href="https://app.apitoolkit.io" class="btn btn-secondary sm:w-56">Start for free</a>
                <a href="https://calendly.com/tonyalaribe/30min" class="btn btn-outline btn-neutral sm:w-56">Get a
                    demo</a>
            </div>
            <div class="mt-3 flex items-center gap-3 text-sm">
                <p class=""><span class="text-green-600">✓</span> Privacy Controls</p>
                <p class=""><span class="text-green-600">✓</span> GDPR Compliant</p>
                <p class=""><span class="text-green-600">✓</span> Security First</p>
            </div>
            <!-- TrustBox widget - Review Collector -->
            <div class="mt-4">
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="65e849335a066e65898a5cd4" data-style-height="52px" data-style-width="100%">
<a href="https://www.trustpilot.com/review/apitoolkit.io" target="_blank" rel="noopener">Trustpilot</a>
</div>

            </div>
<!-- End TrustBox widget -->
        </div>
        <div
            class="w-[min(100vw,1400px)] px-4 md:px-2 mx-auto mt-[54px] flex justify-center py-16 relative bg-[url('/assets/img/svgs/grid.svg')] dark:bg-none">
            <div class="border-2 w-max shadow-xl  bg-base-100">
                <video src="/assets/video/dashboard.mp4" loop id="main-demo-video" class="w-[1200px] min-w-0"></video>
            </div>
            <button onclick="playVideo(event)" id="playVideoButton" title="play demo video">
                <div style="--animation-delay:.5s"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full  bg-opacity-15 ripple">
                </div>
                <div style="--animation-delay:1.5s"
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full  bg-opacity-15 ripple">
                </div>
                <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-[#2E3238] p-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M19.6812 9.58609C20.9965 10.3455 21.6541 10.7251 21.8748 11.2209C22.0673 11.6532 22.0673 12.147 21.8748 12.5794C21.6541 13.075 20.9965 13.4548 19.6812 14.2141L10.1622 19.7099C8.847 20.4692 8.18936 20.849 7.64973 20.7922C7.17903 20.7428 6.75143 20.4958 6.47324 20.1129C6.1543 19.674 6.1543 18.9146 6.1543 17.3959V6.40433C6.1543 4.88559 6.1543 4.12621 6.47325 3.68724C6.75143 3.30434 7.17903 3.05746 7.64973 3.00799C8.18936 2.95127 8.847 3.33095 10.1622 4.09033L19.6812 9.58609Z"
                            fill="white" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="width-control w-full mx-auto mt-[54px] py-12 relative text-center">
            <p class="text-xl pb-8">Trusted by 3000+ Developers at Companies Like</p>
            <div class="flex gap-6  w-full justify-center flex-wrap items-center [&>*]:brightness-0 [&>*]:dark:invert">
                <img src="/assets/img/c1.png" alt="Andela" class="h-5 sm:h-8">
                <img src="/assets/img/c2.png" alt="Thepeer" class="h-5 sm:h-8">
                <img src="/assets/img/c3.png" alt="Grovepay" class="h-5 sm:h-8">
                <img src="/assets/img/c4.png" alt="Same Day Customs" class="h-5 sm:h-8">
                <img src="/assets/img/customers/platnova.png" alt="Platnova" class="h-5 sm:h-8">
                <img src="/assets/img/customers/payfonte.svg" alt="Payfonte" class="h-5 sm:h-8">
            </div>
        </div>
    </section>
    <script>
        function playVideo(event) {
            event.stopPropagation()
            event.currentTarget.classList.add("hidden")
            const video = document.querySelector("#main-demo-video")
            if (video) {
                video.play()
                video.controls = true
            }
        }
        const video = document.querySelector("#main-demo-video")
        video.addEventListener("pause", () => {
            document.querySelector("#playVideoButton").classList.remove("hidden")
            video.controls = false
        })
    </script>
</header>
```
