{.text-secondary}
#### {% if this.pre-title %}{{this.pre-title}}{% endif %}
{.max-w-3xl}
### {% if this.title %}{{this.title}}{% endif %}

{class="grid grid-cols-1 sm:grid-cols-5 py-8 gap-5 "}
:::
{class="col-span-2 space-y-5"}
::::
{class="text-xl "}
{% if this.description %}{{this.description}}{% endif %}

[Learn more ...](/features/error-tracking){.text-secondary}

{% capture badgecheck %}<svg class="inline text-secondary flex-shrink-0 icon h-5 w-5 fill-secondary stroke-secondary"><use xlink:href="/assets/deps/fontawesome/solid.svg#badge-check"></use></svg>{% endcapture %}

{class="carousel-menu pt-3" scriptx="install CarouselSectionInit"}
:::::
```=html
{% for item in this.items %}
  <input type="radio" name="{{this.name}}" role="tab" id="{{item.title | slugify}}-c"  _="install CarouselSection" class="carousel-input"/>
  <label for="{{item.title | slugify}}-c" class="text-xl space-x-2">{{badgecheck}}<span>{{item.title}}</span></label>
{% endfor %}
```
:::::
::::
{class="carousel-img-parent col-span-3 {{this.name}}-img"}
{% for item in this.items %}![{{item.title}}]({{item.img}}){#{{item.title | slugify}}-c-img class="{% if forloop.first %}!block{% endif %}" }{% endfor %}
:::

