<header id="header" class="w-full flex flex-col items-center top-0 left-0 right-0 sticky bg-base-100 z-30 dark:border-gray-700 group">
  <nav class="group-has-[#menuInput:checked]:h-full p-2 md:px-0 md:py-4 flex-1 flex flex-col md:flex-row max-w-7xl w-full justify-between items-center sticky top-0 z-10 bg-bgBase group-has-[#menuInput:checked]:border-b md:border-b-0 border-b-strokeBrand-strong">
      <div class="flex justify-between w-full md:w-auto ">
        <a href="/" class="py-1 md:px-0 " aria-label="Back to homepage">
          <img class="h-6 dark:hidden" src="/assets/brand/logo_full_color.svg" alt="APItoolkit full color logo">
          <img class="h-6 hidden dark:inline-block" src="/assets/brand/logo_full_white.svg" alt="APItoolkit white logo">
        </a>
        <label class="md:hidden p-2 hover:bg-fillBrand-weak">
          <svg class="h-5 w-5">
            <use class="block group-has-[#menuInput:checked]:hidden " xlink:href="/assets/deps/sprite.svg#menu"></use>
            <use class="hidden group-has-[#menuInput:checked]:block " xlink:href="/assets/deps/sprite.svg#xmark"></use>
          </svg><input type="checkbox" id="menuInput" class="hidden"/>
        </label>
      </div>
      

      <div class="hidden group-has-[#menuInput:checked]:flex md:flex flex-col md:flex-row pt-5 md:py-0 gap-2 md:gap-5 md:items-center w-full md:w-auto px-5 md:px-0">
        {% for navItem in config.raw.main_nav %}
          {% if navItem.dropdown %}
            <div class="relative group/nv">
              <div class="flex cursor-pointer items-center p-2 gap-1 hover:bg-fillBrand-weak rounded-lg" title="{{navItem.title}}">
                {{navItem.title}} 
                <svg class="flex-shrink-0 h-5 w-5 text-current"><use xlink:href="/assets/deps/sprite.svg#chevron-down"></use></svg>
              </div>
              <div
                class="flex flex-col group-hover/nv:opacity-100 group-hover/nv:h-auto w-96 h-0 z-40 overflow-y-hidden  duration-300 opacity-0 absolute top-[100%] left-0 bg-base-100 border rounded-lg">
                  {% for subItem in navItem.dropdown %}
                    <a href="{{subItem.url}}" class="p-2 flex items-center gap-2 hover:bg-base-200 shrink-0"
                      title="{{subItem.title}}">
                      <img src="/assets/img/nav-item.svg" class="h-12 flex-shrink-0 w-12 border rounded-lg"
                        alt="navigation item icon">
                      <div class="flex flex-col">
                        <h6 class="font-bold ">{{subItem.title}}</h6>
                        <span class="text-gray-500 leading-[1.10]">{{subItem.description}}</span>
                      </div>
                    </a>
                  {% endfor %}
              </div>
            </div>
          {% else %}
            <a href="{{navItem.url}}" class=" p-3 hover:bg-fillBrand-weak rounded-lg block">{{navItem.title}}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="hidden group-has-[#menuInput:checked]:flex  md:flex gap-5 items-center w-full md:w-auto px-5 md:px-0">
        <a href="https://app.apitoolkit.io" class="underline underline-offset-2">Login</a>
        <a href="https://app.apitoolkit.io" class="underline underline-offset-2">Start free trial</a>
        <a href="https://calendar.app.google/1a4HG5GZYv1sjjZG6" target="_blank" class="bg-fillBrand-strong text-textInverse-strong px-6 py-3 rounded-xl shadow ">Book a demo</a>
      </div>
    </nav>
</header>
